.tags-group{
    display:inline-block;
    .tags-item{
        display:inline-block;
        height:16px;
        margin-right:5px;
        padding:5px;
        color:#fff;
        background-color: cornflowerblue;
    }
}