.articlebar-box{
    display:flex;
    width:370px;
    height:420px;
    margin:15px;
    border-radius: 15px;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    .articlebar-imgbox{
        background-color:#fff;
        width:370px;
        height:180px;
        border-radius: 15px 15px 0 0;
    }
    .articlebar-container{
        padding:5px 10px;
        .articlebar-header{
            a{
                display:inline-block;
                width:100%;
                color:#658db5;
                font-weight:800;
                font-size:1.5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            a:hover{
                color:#333;
            }
            .article-title-detail{
                margin:5px auto;
                color:#989ea0;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
            }
        }        
        .articlebar-body{
            overflow:hidden;
            font-size:14px;
            font-weight:500;
            color:#333;
            height:130px;
        }
        .articlebar-footer{
            display: flex;
            flex-direction: row-reverse; 
            justify-content: space-between;
            border-top:0.5px solid #eee;
            border-bottom:0.5px solid #eee;            
            font-size:14px;
            padding:5px 0;
            color:#333; 
        }
    }
}

@media screen and (max-width:1024px){
    .articlebar-box{
        flex-direction: column;
    }
}