.articlebar-box{
    display:flex;
    width:370px;
    height:400px;
    margin:15px;
    position: relative;
    flex-direction: column;
    text-align: left;
    padding:10px;
    background-color: #fff;
    .articlebar-imgbox{
        flex:1;
        position: relative;
        .articlebar-img{
            width:100%;
        }
    }
    .articlebar-container{
        flex:5;
        padding:0 5px;
        position: relative;
        .articlebar-header{
            a{
                display:inline-block;
                width:100%;
                color:#658db5;
                font-weight:800;
                font-size:1.5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            a:hover{
                color:#333;
            }
        }        
        .articlebar-body{
            overflow:hidden;
            font-size:0.9rem
        }
        .articlebar-footer{
            display: flex;
            flex-direction: row-reverse; 
            justify-content: space-between;
            border-top:0.5px solid #eee;
            border-bottom:0.5px solid #eee;            
            font-size:14px;
            padding:5px 0;
            color:#333; 
        }
    }
}

@media screen and (max-width:1024px){
    .articlebar-box{
        flex-direction: column;
    }
}