h1{
    font-size:40px !important;
}

.article-box{
    background-color:#fff;
    .back-btn{
        width:150px;
        position: relative;
        top:-40px;
    }
    .article-progress{
        position:fixed;
        display:none;
        top:0;
        left:0;
        right:0;
        width:50%;
        height:50px;
        margin:0 auto;
        text-align: center;
        font-weight: 600;
        font-size:30px;
        color:#505050;
        line-height:50px;
        background:transparent;
        z-index:100;
        span{
            z-index:100;
        }
        .article-progress-active{
            position: absolute;
            top:0;
            left:0;
            height:50px;
            background-color:rgba(202,202,202,0.5);
            z-index:-1;
        }
    }
    .article-content-box{
        display:flex;
        margin:0 auto;
        width:1200px;
        overflow-x: auto;
        *{
            width:100%;
            word-break: break-all;
        }
        #essay-catalog{
            flex:1;
            padding:20px;
        }
        #essay-content{
            flex:6;
            padding:20px;
        }
    }
}

.article-title-bg{
    width:100%;
    height:400px;
}

@media screen and (max-width:1600px) and (min-width:800px){
    .article-box{
        .article-content-box{
            width:80%;
        }
    }
}

@media screen and (max-width:800px){
    .article-box{
        .article-content-box{
            font-size:14px;
            width:90%;
        }
    }
}
