$theme-color:#658db5;

.home-box{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height:100vh;
    .home-bg{
        position: fixed;
        overflow:hidden;
        top:50px;
        height:500px;
        width:100vw;
        z-index:-1;
    }
    .home-header{
        display:flex;
        position:fixed;
        top:0;
        width:100%;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        height:30px;
        padding:10px 0;
        background-color: $theme-color;
        color:#fff;
        z-index:2;
        .home-collapse-nav{
            width:30px;
            height:50px;
            margin-left:20px;
            margin-top:5px;
            display:none;
            cursor: pointer;
            hr{
                height:1px;
                background-color: #fff;
            }
        }
        .home-navbar{
            margin-left:20px;
            display:flex;
            align-items: center;
            .home-search-box{
                margin-left:10px;
                width:290px;
                height:50px;
                top:0;
                position: absolute;                
                .home-nav-search{
                    height:25px;
                    position:absolute;
                    right:25px;
                    padding:2px 5px;
                    top:10px;
                    background-color: transparent;
                    border:none;
                    border-bottom:1px solid #fff;
                    color:#fff;
                    font-size:16px;
                    width:0;                    
                    transition:width 1s;
                    display:none;
                    &:focus{
                        outline: none;
                    }
                }
                .icon-clear{
                    visibility: hidden;
                    position:absolute;
                    right:20px;
                    z-index:2;
                    cursor: pointer;
                    line-height:50px;
                    color:#333;
                }
                .icon-search{
                    cursor: pointer;
                    position:absolute;
                    right:0;
                    color:#FFF;
                    line-height:50px;
                }
            }
            .home-navbar-nav{
                display:flex;
                opacity: 1;
                transition:opacity 1s;                
                flex-direction: row;
                align-items: center;
                height:50px;
                z-index:2;
                &>li{
                    height:50px;
                    cursor: pointer;
                    line-height:50px;
                    padding:0 10px;
                    width:70px;
                    &:hover{
                        background-color: #333;
                    }
                    & span{
                        margin-left:5px;
                    }
                }
                &>li:nth-child(1){
                    position: relative;
                    &:hover .home-it-catelog{
                        display:block;
                    }
                }
                .home-it-catelog{
                    display:none;
                    position: absolute;
                    left:0;
                    top:50px;
                    width:315px;
                    background-color:#333;
                    &>li{
                        width:100px;
                        float:left;
                        padding:2px;
                        border:0.5px solid #3a3a3a;
                        &:hover{
                            color:#333;
                            background-color: #ccc;
                        }
                    }
                }
            }
        }
        .home-social-nav{
            margin-right:50px;
            .icon{
                display:inline-block;                
                font-size:30px;
                margin-left:10px;
                color:#fff;
                cursor: pointer;
                transition:all 0.5s;
                &:nth-child(2n+1):hover{
                    color:#333;
                    transform: rotate(60deg)
                }
                &:nth-child(2n):hover{
                    color:#333;
                    transform: rotate(-60deg)
                }                  
            }
        }
    }
    .home-img{
        height:270px;
        margin:10px;
        background-color:royalblue;
    }
    .home-body{
        display:flex;
        flex-direction: row;
        padding:0.5rem 1rem;
        margin-top:400px;
        background:#eee;
        // min-height:600px;
        .home-container{
            flex:5;
        }
        .home-aside-nav{
            margin-left:10px;
            display:flex;
            flex-direction: column;
            flex:1;
            .home-aside{
                flex:1;            
                background-color: #fff;
                h3{
                    background-color:$theme-color;
                    color:#fff;
                    padding:7px 0;
                }       
            }
            .home-aside:nth-child(2){
                margin-top:10px;
            }
        }
    }
    .home-footer{
        display:flex;
        min-height:50px;
        color:#fff;
        padding:20px 0;
        background-color: $theme-color;
        text-align: left;
        @mixin footer-padding{
            padding:0 15px;
            ul{
                margin-top:10px;
            }
            li{
                padding:10px 0;
            }
        }
        .home-friendly-link{
            flex:1.5;
            @include footer-padding;
        }
        .home-fast-nav{
            flex:1.5;
            @include footer-padding;            
        }
        .home-contactme{
            flex:2;
            @include footer-padding;            
        }
    }    
}

@media screen and (max-width:1280px) and (min-width:1024px) {
    .home-box{
        .home-body{
            flex-direction: column;
        }
    }
}

@media screen and (max-width:1024px){
    .home-box{
        .home-body{
            flex-direction: column;
            .home-aside-nav{
                margin-top:10px;
            }
        }
    }
}
@media screen and (max-width:800px){
    .home-box{
        .home-header{
            .home-collapse-nav{
                display:block;
            }
        }
    }
    .home-navbar{
        display:none !important;
    }
    .home-social-nav{
        margin-right:10px !important;
        .icon{
            margin-left:5px !important;
        }
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#333;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#333;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#333;
}