.common-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.modal-container{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    z-index: 1000;
    .modal-header{
        height:50px;
        background-color:#fff;
        border-bottom: 1px solid #e8e8e8;
        .modal-title{
            line-height: 50px;
        }
    }
    .modal-footer{
        height:50px;
        background-color:#fff;
        border-top: 1px solid #e8e8e8;
    }
}

.modal-normal{
    width:600px;
}