@import './icon/iconfont.css';
body,h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:'Nunito Sans', Helvetica, Arial, sans-serif;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
li{
    padding:1rem;
}
.loading-img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.a-block{
    display:inline-block;
    padding:7px 17px;
    border-radius:5px;
    cursor: pointer;
}

.a-block-primary{
    background-color:#1874CD;
    color:#fff;
    border:1px solid #1C86EE;
}
.a-block-primary:hover{
    background-color:#1C86EE; 
}
.a-block-primary:focus{
    background-color:#1C86EE;
}
.a-block-primary:active{
    background-color:#1C86EE;
}

.btn{
    padding:8px 17px;
    border-radius:5px;
    cursor: pointer;
    outline:none;
    border:1px solid #eee;
}

.btn:hover{
    background-color:#eee;
}

.btn:focus{
    background-color:#eee;
}
.btn:active{
    background-color:#eee;
}

.btn a{
    color:#fff;
}

.btn-primary{
    background-color:#1874CD;
    color:#fff;
    border:1px solid #1C86EE;
}
.btn-primary:hover{
    background-color:#1C86EE; 
}
.btn-primary:focus{
    background-color:#1C86EE;
}
.btn-primary:active{
    background-color:#1C86EE;
}