@mixin box{
    width:40vw;
    height:80vh;
    border:1px solid #333;
    padding:20px;
    overflow: auto;
    font-size:14px;
}

.admin-box{
    display:flex;
    flex-direction: column;
    .essay-box{
        display: flex;
        flex-direction: row;
        .write-box{
            @include box;
        }
        
        .preview-box{
            @include box;
            margin-left:10vw;
        }
    }
    .oper-box{
        display:flex;
        flex-direction: column;
    }
}